<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,inital-scale=1">
        <title>{% block title %}Register{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body>

<section class="main_breadcrumb">
	<div class="container-fluid">
		<div class="row">
			<div class="breadcrumb-content">
				<h2>register</h2>
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="">login</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<div id="content" class="cart_page checkout_page register_page">
<!-- cart -->
	<div id="register" class="cart_section checkout_section register_section">
		<div class="container-fluid" id="checkout">
				
			<div class="row billing_and_payment_option wow fadeInDown   animated">
				<div class="heading_wrapper wow fadeInDown animated">
					<h2 class="wow fadeInDown animated">Registration</h2>
				</div>
				<!-- Billing Address -->
				{# <div class="col-sm-12 col-lg-9"> #}
					<div class="login_box">
                                
                {{ form_start(registrationForm, { 'attr' : { 'class': 'eb-form eb-mailform form-checkout' } }) }}
                    {# {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                    {{ form_row(registrationForm.agreeTerms) }} #}

                    
                
						{# <form class="eb-form eb-mailform form-checkout" novalidate="novalidate"> #}
							<div class="form-wrap has-error">
                            {# {{ form_label(registrationForm.nom) }}: #}
                            {{form_widget(registrationForm.nom, {'attr': {'class': 'form-input form-control','id':'checkout-first-name-1','placeholder':'Nom'}})}} 
								{# <input class="form-input form-control" id="checkout-first-name-1" type="text" name="name" data-constraints="@Required" placeholder="First Name"> #}
							</div>
							<div class="form-wrap has-error">
                            {# {{ form_label(registrationForm.prenom) }}: #}
                            {{form_widget(registrationForm.prenom, {'attr': {'class': 'form-input form-control','id':'checkout-last-name-1','placeholder':'Prenom'}})}} 
								{# <input class="form-input form-control" id="checkout-last-name-1" type="text" name="name" data-constraints="@Required" placeholder="Last Name"> #}
							</div>
							
							<div class="form-wrap">
                            {# {{ form_label(registrationForm.telephone) }}: #}
                            {{form_widget(registrationForm.telephone, {'attr': {'class': 'form-input form-control','id':'checkout-phone-1','placeholder':'number phone','required':'true'}})}} 
								{# <input class="form-input form-control" id="checkout-phone-1" type="password" name="phone" data-constraints="@Numeric" placeholder="Confirm Password:"> #}
							</div>

								<div class="form-wrap">
                            {# {{ form_label(registrationForm.telephone) }}: #}
                            {{form_widget(registrationForm.addresse, {'attr': {'class': 'form-input form-control','id':'checkout-addresse','placeholder':'addresse','required':'true'}})}} 
								{# <input class="form-input form-control" id="checkout-phone-1" type="password" name="phone" data-constraints="@Numeric" placeholder="Confirm Password:"> #}
							</div>

                            <div class="form-wrap">
                            {{form_widget(registrationForm.email, {'attr': {'class': 'form-input form-control','placeholder':'e-mail'}})}} 
								{# <input class="form-input form-control" id="checkout-city-1" type="text" name="password" data-constraints="@Required" placeholder="Password:"> #}
							</div>

                            <div class="form-wrap">
                            {{form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-input form-control','id':'checkout-password-1',' label': 'Password','placeholder':'Password'}})}} 
                            </div>
                             {# <div class="form-wrap"> #}
                            {# {{ form_row(registrationForm.agreeTerms) }} #}
                            <div class="custom-control custom-checkbox">
                            {{ form_row(registrationForm.agreeTerms) }}
							</div>
							<br>
                            <div class="form-wrap">
							{{form_widget(registrationForm.envoyer,{'attr': { 'class': 'btn btn-primary' }})}}
							<div>
							<p class="signInclass"> Already have an account? &nbsp;<a href="{{path('app_login')}}">Login</a> </p>
						
					{{ form_end(registrationForm) }}
					</div>
				{# </div> #}
				<!-- Delivery Address  -->
				{# <div class="col-sm-6 col-lg-6  wow fadeInDown   animated registration">
					<h3>Benefit of Registration</h3>
					 <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum</p>
					 
					 <ul>
						<li><i class="fa fa-check"></i> If you are going to use a passage of Lorem Ipsum</li>
						<li><i class="fa fa-check"></i> All the Lorem Ipsum generators on the Internet tend</li>
						<li><i class="fa fa-check"></i> The standard chunk of Lorem Ipsum used since the 1500s</li>
						<li><i class="fa fa-check"></i> a Latin professor at Hampden-Sydney College in Virginia</li>
						<li><i class="fa fa-check"></i> It is a long established fact that a reader </li>
					 </ul>
				</div> #}
			</div>
			<!-- your shopping cart -->
		</div>	
	</div>	
<!-- cart end-->	
</div>


{# 
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }} #}
      {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

  </body>
</html>

