<!-- Footer Section -->
	<footer id="footer" class="footer">
		<div class="container-fluid">
			<div class="row">
			<!-- Newslatter--
				<div class="footer_newslatter wow fadeInDown animated">
						<div class="box">
							<div class="row">
								<div class="col-sm-3">
									<strong class="wow fadeInDown animated">sign up for free</strong>
								</div>
								<div class="col-sm-4">
									<p class="wow fadeInDown animated">get your daily fashion, daily lovescope and daily tarot by email</p>
								</div>
								<div class="col-sm-5">
									<form id="newsletter" accept-charset="utf-8">
										<div class="success wow fadeInDown animated" style="display: none;">Your subscribe request has been sent!</div>
										<label class="email">
											<input type="email" placeholder="Enter your email here" class="wow fadeInDown animated">
										</label>
										<a href="#" data-type="submit" class="wow fadeInDown animated">subscribe</a>
									</form>
								</div>
							</div>
						</div>
				</div>
			!-- Newslatter end-->
			<div class="row footer_matter">
				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<div class="footer_list_wrapper">
						<!--<img src="assets/image/logo/footer_logo.png" alt="footer_logo" class="img-responsive wow fadeInDown animated">-->
						<h2 class="wow fadeInDown animated">Contact</h2>
						
						   {# <ul>
								<li><a href="#"><i class="fa fa-facebook"></i>https:www/facebook.Com</a> </li>
								<li><i class="fa fa-phone"></i> 0341853194</li>
								<li><i class="fa fa-envelope"></i> Email: goingbeyondmode@Example.com</li>
								
							</ul> #}
							
						{# <h4 class="wow fadeInDown animated"><a href="#" class="btn wow fadeInDown animated">Read More</a></h4> #}
						<ul class="footer_list">
							<li class="wow fadeInDown animated">{{aproposFooter().contact ?? null}}</li>
							<li class="wow fadeInDown animated"><a href="{{aproposFooter().facebook ?? null}}">{{aproposFooter().facebook ?? null}}</a></li>
							<li class="wow fadeInDown animated">{{aproposFooter().email ?? null}}</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<div class="footer_list_wrapper">
						<h2 class="wow fadeInDown animated">Categories</h2>
						<ul class="footer_list">
							{% if categorieNavbar() | length > 0 %}
							{% for categorie in categorieNavbar() %}
										<li class="wow fadeInDown animated"><a href="{{path('app_categorie',{'slug': categorie.slug})}}" class="nav-link">{{categorie.nom}}</a></li>
							{% endfor %}
							{% endif %}
							</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<div class="footer_list_wrapper">
						<h2>A propos</h2>
						<ul class="a propos">
							
							<li >
							<p>
							{{aproposFooter().description ?? null}}
							</p>
							</li>
							
							
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<div class="download_wrapper">
						<h2 class="wow fadeInDown animated">Mentions legals</h2>
						<p class="wow fadeInDown animated">RGPD</p>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

