{% extends 'base.html.twig' %}

{% block title %}Hello AproposController!{% endblock %}

{% block body %}
<div id="content" class="about_page">
<!-- about Us -->
{% if(apropos != null ) %}
<div id="website_visitors" class="astrologers-work" style="background-image:url({{asset('image/' ~ apropos.file) }});">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div class="astrologers_title">
					<h2 class="wow fadeInDown animated">{{apropos.titre ?? null}}</h2>
					<p class="wow fadeInDown animated">{{apropos.description ?? null}}.</p>
				</div>
			</div>
			
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div class="astrologers_visitors">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="astrologers_experience">
							<h5 class="wow fadeInDown animated">{{apropos.contact ?? null}}</h5>
                            
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="astrologers_experience">
							<h5 class="wow fadeInDown animated"><a href="{{apropos.facebook ?? null}}">{{apropos.facebook ?? null}}</a></h5>
						</div>
					</div>

						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="astrologers_experience">
							<h5 class="wow fadeInDown animated">{{apropos.email ?? null}}</h5>
						</div>
					</div>
				
				</div>
			</div>
		</div>
	</div>
</div>
{% else %}
		<h2 class="wow fadeInDown animated text-center">VIDE</h2>
		<br/>
		<br/>
{% endif %}
</div>
{% endblock %}
